{% extends "smartmin/read.html" %}
{% load smartmin %}
{% load staticfiles i18n %}
{% block extra-style %}
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="{% static 'css/upload/blueimp-gallery.min.css' %}">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static 'css/upload/jquery.fileupload-ui.css' %}">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="{% static 'css/upload/jquery.fileupload-ui-noscript.css' %}"></noscript>
<style>
.preview img {
    max-height:50px;
}
</style>
{% endblock %}
{% block title %}{{ block.super }}  | Add Animal {% endblock title %}
{% block page_title %} {{ object }} Details {% endblock %}
{% block read-buttons %}
    <div class="btn-group pull-right">
         {% if view.edit_button %}
            <a href="../../update/{{ object.id }}/" class="btn btn-primary">Edit</a>
         {%  endif %}
        <a href="{% url 'animals.animal_dashboard' object.id %}" class="btn btn-primary">Analytics</a>
    </div>

{% endblock read-buttons %}
{% block content %}
{{ block.super }}
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      {% if fertile %}
        <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
        <li role="presentation"><a href="#pregnancies" aria-controls="pregnancies" role="tab" data-toggle="tab">Pregnancy Checks</a></li>
        <li role="presentation"><a href="#offsprings" aria-controls="offsprings" role="tab" data-toggle="tab">Offsprings</a></li>
        <li role="presentation"><a href="#milkproduction" aria-controls="milkproduction" role="tab" data-toggle="tab">Milk Production</a></li>
      {% endif %}
      <li role="presentation"><a href="#health" aria-controls="health" role="tab" data-toggle="tab">Health</a></li>
      <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
      <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content bottom-margin">
      {% if fertile %}
        <div role="tabpanel" class="tab-pane padded" id="services">{{ services }}</div>
        <div role="tabpanel" class="tab-pane padded" id="pregnancies">{{ pregnancies }}</div>
        <div role="tabpanel" class="tab-pane padded" id="offsprings">{{ offsprings }}</div>
        <div role="tabpanel" class="tab-pane padded" id="milkproduction">{{ milkproduction }}</div>
      {% endif %}
      <div role="tabpanel" class="tab-pane padded" id="health">{{ treatment }}</div>
      <div role="tabpanel" class="tab-pane padded" id="notes">{{ notes }}</div>
      <div role="tabpanel" class="tab-pane padded" id="documents">{{ animal_documents }}</div>
  </div>
</div>


{% endblock %}
{% block extra-script %}
<script>
    $('.nav-tabs a:first').tab('show')
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static 'js/upload/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static 'js/upload/tmpl.min.js' %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{% static 'js/upload/load-image.min.js' %}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{% static 'js/upload/canvas-to-blob.min.js' %}"></script>
<!-- blueimp Gallery script -->
<script src="{% static 'js/upload/jquery.blueimp-gallery.min.js' %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'js/upload/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'js/upload/jquery.fileupload.js' %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static 'js/upload/jquery.fileupload-process.js' %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static 'js/upload/jquery.fileupload-image.js' %}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{% static 'js/upload/jquery.fileupload-audio.js' %}"></script>
<!-- The File Upload video preview plugin -->
<script src="{% static 'js/upload/jquery.fileupload-video.js' %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static 'js/upload/jquery.fileupload-validate.js' %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static 'js/upload/jquery.fileupload-ui.js' %}"></script>
<!-- The main application script -->
<script src="{% static 'js/upload/main.js' %}"></script>
<script src="{% static 'js/upload/locale.js' %}"></script>
<script src="{% static 'js/upload/csrf.js' %}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="{% static 'js/upload/cors/jquery.xdr-transport.js' %}"></script>
<![endif]-->
{% endblock %}