<!DOCTYPE html>
<html>
  {% load staticfiles i18n %}
  {% load bootstrap3 %}
  {% load django_select2_tags %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='{% static 'css/fullcalendar.css' %}'>
  <link rel='stylesheet' href='{% static 'css/datatables/datatables.css' %}'>
  <link rel='stylesheet' href='{% static 'css/datatables/bootstrap.datatables.css' %}'>
  <link rel='stylesheet' href='{% static 'scss/chosen.css' %}'>
  <link rel='stylesheet' href='{% static 'scss/font-awesome/font-awesome.css' %}'>
  <link rel='stylesheet' href='{% static 'css/app.css' %}'>
  <!-- Plugin CSS -->
  {% import_django_select2_css %}
  <link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'django_modalview/css/modal.css' %}" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

  <link href='{% static 'assets/favicon.ico' %}' rel="shortcut icon">
  <link href='{% static 'assets/apple-touch-icon.png' %}' rel="apple-touch-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  @javascript html5shiv respond.min
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'django_modalview/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_modalview/js/django_modal_view.js' %}"></script>
<script type="text/javascript" src="{% static 'django_modalview/js/jquery.form.js' %}"></script>
    <script type="text/javascript">

        $(function(){
    $('#my_modal_runner').DjangoModalRunner();
});
    </script>

{% if form %}
{{ form.media }}
{% endif %}

{% import_django_select2_js %}
  <title>{% block title %} Farmguru {% endblock %}</title>

</head>

<body>
<div class="all-wrapper">
<div class="row">
    {%  block navigation %}
        {% include 'partials/navigation.html' %}
    {%  endblock %}
    <div class="col-md-9">
    <div class="content-wrapper">
       <div class="content-inner content-inner-white">
       <div class="page-header page-header-green">
  <div class="header-links hidden-xs">
    <a href="notifications.html"><i class="icon-comments"></i> User Alerts</a>
    <a href="#"><i class="icon-cog"></i> Settings</a>
    <a href="{% url 'account_logout' %}"><i class="icon-signout"></i> Logout</a>
  </div>
  <h1><i class="icon-bar-chart"></i> {% block page_title %} {% endblock %}</h1>
</div>

          <div class="main-content">
          <div class="widget">

              <div class="widget-content-white glossed">
              <div class="padded">
              {% bootstrap_messages %}
{%  block content %}


{% endblock %}
              </div>
                </div>
              </div>
          </div>

          </div>
        </div>
    </div>
    </div>
</div>
    </div>


<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src='{% static 'js/jquery.sparkline.min.js' %}'></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script src='{% static 'js/bootstrap/tab.js' %}'></script>
<script src='{% static 'js/bootstrap/dropdown.js' %}'></script>
<script src='{% static 'js/bootstrap/collapse.js' %}'></script>
<script src='{% static 'js/bootstrap/alert.js' %}'></script>
<script src='{% static 'js/bootstrap/transition.js' %}'></script>
<script src='{% static 'js/bootstrap/tooltip.js' %}'></script>
<script src='{% static 'js/jquery.knob.js' %}'></script>
<script src='{% static 'js/fullcalendar.min.js' %}'></script>
<script src='{% static 'js/datatables/datatables.min.js' %}'></script>
<script src='{% static 'js/chosen.jquery.min.js' %}'></script>
<script src='{% static 'js/datatables/bootstrap.datatables.js' %}'></script>
<script src='{% static 'js/raphael-min.js' %}'></script>
<script src='{% static 'js/morris-0.4.3.min.js' %}'></script>
<script src='{% static 'js/for_pages/color_settings.js' %}'></script>
<script src='{% static 'js/application.js' %}'></script>


<script src='{% static 'js/for_pages/dashboard.js' %}'></script>
{% block extra-script %}{% endblock %}

{# media associated with any form we are displaying #}
{% if form %}
{{ form.media }}
{% endif %}



{% block script %}{% endblock %}
{# endcompress #}

{% import_django_select2_js %}

</body>
</html>