<!DOCTYPE html>
<html>
  {% load staticfiles i18n %}
  {% load bootstrap3 %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='{% static 'css/app.css' %}'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='{% static 'images/favicon.ico' %}' rel="shortcut icon">
  <link href='{% static 'images/apple-touch-icon.png' %}' rel="apple-touch-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->
  <title>{%  block head_title %} Farmguru | {% endblock %}</title>
</head>

<body>
<div class="all-wrapper no-menu-wrapper">
  <div class="login-logo-w">
    <span>FARMGURU</span>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-white-gradient no-page-header">
            <div class="main-content-inner">
            <h3 class="form-title form-title-first">{%  block title %} {% endblock %}</h3>
            {% bootstrap_messages %}
            {%  block content %}


            {%  endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>


